<%= form_for(@catalogo_usuario) do |f| %>
  <% if @catalogo_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogo_usuario.errors.count, "error") %> prohibited this catalogo_usuario from being saved:</h2>

      <ul>
      <% @catalogo_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
